@{
    ViewData["Title"] = "Home";
}


<h1>Home Page</h1>

<div>
    <p>Location Information , in localHost Doesn't respond, If Want See Results for Test => </p>
    <p>Change 'StatisticsService' File ==>> 'GetLocation()' method</p>
    <p class="text-warning">>>>> var response = await _httpClient.GetAsync("http://api.ipstack.com/" + GetIPAddress() + "?access_key=74******a424"); <<<<<</p>
    <p>
        ==>>  'Get IP Address ()' with 'Your Ip Address'
    </p>
</div>
<hr />
<div>
    <p> If want using CountryData Charts , Work This :</p>
    <p>1) sign up the   <a href="http://api.ipstack.com/">IpStack</a>  website</p>
    <p>
        2) Get Access_key in Your User Panel
    </p>
    <p>
        3) then Change 'StatisticsService' File ==> 'GetLocation()' method with 'Access_key'
    </p>
</div>